.cart {
  max-width: var(--size-mid-width);
  margin: 0 auto;
  flex-grow: 1;

  .cart_empty {
    p {
      text-align: center;
      font-size: var(--size-font-small);
      padding: var(--size-space-big);
    }
  }
  .cart_filled {
    .title {
      h1 {
        font-size: 32px;
        text-align: center;
        margin: var(--size-space-small) 0;
      }
    }
    .items {
      padding-bottom: var(--size-space-small);

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: var(--size-space-medium) 0;
        padding: var(--size-space-medium) 0;
        border-bottom: 1px solid #010101;

        .img {
          width: 33%;

          img {
            width: 200px;
            height: 200px;
          }
        }
        .info {
          p {
            font-size: var(--size-font-small);
            text-align: center;
          }
        }
        .count {
          width: 33%;
          text-align: right;

          span {
            font-size: var(--size-font-small);
          }
          button {
            width: 20px;
            font-size: var(--size-font-small); //
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border: none;
            cursor: pointer;
          }
          input {
            background-color: inherit;
            border: none;
            width: 30px;
            font-size: var(--size-font-small);
            margin: var(--size-space-small);
            text-align: center;
            outline: none;
            color: #010101;
            cursor: default;
          }
        }
      }
    }
    .order {
      text-align: center;
      padding-bottom: var(--size-space-big);

      button {
        font-size: var(--size-font-small);
        text-transform: uppercase;
        margin: 0 auto;
      }
      .totalPrice {
        display: flex;
        justify-content: center;
        margin-bottom: var(--size-space-small);

        span {
          font-size: var(--size-font-small);
        }
        input {
          background-color: inherit;
          border: none;
          font-size: var(--size-font-small);
          margin: 0 var(--size-space-small);
          text-align: center;
          color: #010101;
          outline: none;
          cursor: default;
          max-width: 100px;
        }
      }
    }
  }
}


// @MEDIA

@media (max-width: 1100px){
  .cart{
    .cart_filled{
      .items{
        .item{
          padding: var(--size-space-medium) 100px;
        }
      }
    }
  }
}

@media (max-width: 890px){
  .cart{
    .cart_filled{
      .items{
        .item{
          flex-direction: column;

          .img{
            text-align: center;
          }
          .count{
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 600px){
  .cart{
    .cart_filled{
      .items{
        .item{
          flex-direction: column;
          padding: var(--size-space-medium) 0;

          .img{
            width: 100%;
          }
          .count{
            width: 100%;
          }
          .info{
            p{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}