header {
  background-color: #fff;

  .wrap {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    max-width: 1024px;
    margin: 0 auto;
  }
  .logo {
    h1 {
      font-size: 40px;

      a {
        text-transform: uppercase;
        color: #010101;
        text-decoration: none;
      }
    }
  }
  .links {
    display: flex;
    align-items: center;
    font-size: 24px; //

    a {
      text-decoration: none;
      color: red;
      padding: 10px var(--size-space-big); //

      span {
        margin-left: 10px;
      }
    }
  }
}

// @MEDIA

@media (max-width: 1100px) {
  header {
    .wrap {
      max-width: 720px;
    }
  }
}

@media (max-width: 870px) {
  header {
    .wrap {
      max-width: 560px;
    }
  }
}

@media (max-width: 620px) {
  header {
    .wrap {
      max-width: 400px;

      .logo{
        h1{
          font-size: 32px;
          margin-top: 8px;
        }
      }
      .links{
        a{
          padding: 10px 10px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  header {
    .wrap {
      max-width: 300px;
      justify-content: center;
    }
  }
}

