.item {
  width: 28%;
  margin: 15px;
  padding: 15px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-align: center;
  border-radius: 10px;

  p,
  span {
    color: #010101;
  }
  span {
    text-align: center;
    margin-top: var(--size-space-small);
    padding-bottom: 5px;
    font-size: var(--size-font-small);
    width: 180px;
    border-radius: 5px;
    border-bottom: 2px solid red;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--size-font-small);
    color: #010101;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    :hover {
      opacity: 0.7;
    }
  }
  button {
    font-size: var(--size-font-small);
    cursor: pointer;
  }
  img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .title {
    font-size: var(--size-font-small);
    height: 80px;
  }
  .category {
    margin-bottom: var(--size-space-small);
    text-align: right;
    font-size: var(--size-font-small);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;
    user-select: none;

    :hover {
      opacity: 0.7;
    }
  }
}


// @MEDIA

@media (max-width: 1270px) {
  .item{
    width: 30%;
    margin: 15px 70px;
  }
}

@media (max-width: 1000px) {
  .item{

    img{
      width: 250px;
      height: 250px;
    }
  }
}


@media (max-width: 870px) {
  .item{
    width: 60%;

    img{
      width: 320px;
      height: 320px;
    }
  }
}

@media (max-width: 620px) {
  .item{
    width: 60%;

    img{
      width: 300px;
      height: 300px;
    }
    .title{
      font-size: 18px;
    }
  }
}

@media (max-width: 510px) {
  .item{
    width: 60%;
    padding: 5px;

    img{
      width: 220px;
      height: 220px;
    }
    .title{
      font-size: 18px;
    }
  }
}

@media (max-width: 375px){
  
  .item{
    
    img{
      margin-top: 10px;
      width: 180px;
      height: 180px;
    }
  }
}